[submodule "dashboard"]
	path = dashboard
	url = git@github.com:CodexLink/folioblocks-web.git
	branch = dashboard
[submodule "explorer"]
	path = explorer
	url = git@github.com:CodexLink/folioblocks-web.git
	branch = explorer
[submodule "node"]
	path = node
	url = git@github.com:CodexLink/folioblocks-node.git
	branch = latest-dev
